<h3>New Project</h3>
<%= render 'form', project: @project %>
<%= render 'categories/form' %>

<script type="text/javascript">
  $(document).on('click', '.category', function(){
 
  $('#myModal').modal();

 });
</script>